* {
    background-image: http://www.modsworldofwarships.com/modding-0-5-5-update/);
}

#table1 {
    text-align: center;
    margin-left: 15%;
    background-color: #000;
    height: 500px;
    width: 70%;
    border: 5px solid #000;
}

.miss {
    background-color: #ffc220;
}

.hit {
    background-color: red;
}

.hitOrMiss {
    text-align: center;
    color: white;
}

.TorUsed {
    color: white;
    text-align: center;
}

.torLeft {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: White;
}

td {
    background-color: #ababab;
    height: 50px;
    width: 70px;
    border: 5px solid #000;
}

td:hover {                          /*the hover is cool.*/
  box-shadow: 0 0 2px 3px;
  background-color: lightblue;
}
